<%- include("../partials/header") %>
<body class="relative">
    <%- include("../partials/navBarTop") %>
        <%- include("../partials/servicesPageGeneralPartials/beetwenNavbarTopD1B") %>
                    <!-- Breadcrumb -->
                    <!-- <<<<<<<<< D1--B-- >>>>>>>>>> -->
                    <%- include("../partials/servicesPageGeneralPartials/pageVariableBreadcrumb") %>
                    <!-- <<<<<<<<< D1--S-- >>>>>>>>>> -->
                    <%- include("../partials/servicesPageGeneralPartials/beetwenD1SD2B") %>
                        <!-- <<<<<<<<< D2--B-- >>>>>>>>>> -->
                        <div class="myVariableAre text-[#422d48]">

                            <%- include("../partials/blogsPageGeneralPartials/blogAuthor") %>

                            <%- include("../partials/blogsPageGeneralPartials/blogCommentsAndCTime") %>
      

                            <!-- observers -->
                            <!-- section 1 -->
                            <% blog.blogContents.girisContents.forEach(observer => { %>
                            <div id="<%= observer.id %>" class="my-6 entryfoheader">

                                <% observer.ordinaryContents.forEach(ordinaryContent => { %>
                                <div class="my-4">
                                    <%- ordinaryContent.content %>
                                </div>
                                <% }) %>

                            </div> 
                            <% }) %>

                            <!-- section 2 -->
                            <section class="flex justify-center">
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                            </section>

                            <% blog.blogContents.gelismeContents.forEach(observer => { %>
                            <div id="<%= observer.id %>" class="my-6 entryfoheader">

                                <% observer.ordinaryContents.forEach(ordinaryContent => { %>
                                <div class="my-4">
                                    <%- ordinaryContent.content %>
                                </div>
                                <% }) %>
 
                            </div> 
                            <% }) %>

                            <!-- section 3 -->
                            <section class="flex justify-center">
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                            </section>

                            <% blog.blogContents.sonucContents.forEach(observer => { %>
                            <div id="<%= observer.id %>" class="my-6 entryfoheader">

                                <% observer.ordinaryContents.forEach(ordinaryContent => { %>
                                <div class="my-4">
                                    <%- ordinaryContent.content %>
                                </div>
                                <% }) %>

                            </div> 
                            <% }) %>

                            <section class="flex justify-center">
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                            </section>

                            <%- include("../partials/blogsPageGeneralPartials/blogsCommentsArea") %>
                            

                            <%- include("../partials/blogsPageGeneralPartials/variableAreaBrandLogo") %>
                            
                        </div>
                        <!-- <<<<<<<<< D2--S-- >>>>>>>>>> -->
                    </div>
                </div>
            </div>
            <div class="areaZ w-[22.5%] hidden lg:block border-l-2 bg-[#efefef] border-r-[#8080802e]"></div>
        </div>
        <div id="mainSecondElem" class="fixed bottom-0 w-full">
            <%- include("../partials/blogsPageGeneralPartials/blogsCustomFooter") %>
        </div>
        <div class="blogShareViaModal hidden fixed top-16 left-0 z-[+60] w-screen h-screen bg-black/70">
            <div class="relative top-24 pt-8 sm:top-36 md:top-64 left-1/2 translate-x-[-50%] w-11/12 sm:w-3/4 md:w-2/4 max-w-96 rounded-b-lg bg-[#efefef]">
                <div class="absolute -top-4 w-full flex items-center justify-between py-2 pl-2 pr-4 rounded-t-lg bg-black text-white">
                    <div class="flex items-center">
                        <span class="inline-block px-2 py-1 text-sm tracking-wider font-semibold text-[#efefef]">Paylaş</span><span class="inline-block -ml-1 text-sm font-semibold text-[#efefef]">:</span>
                    </div>
                    <div>
                        <button id="closeShareModal" class="flex justify-center items-center px-2 py-1 border-2 border-[#efefef] rounded-md">
                            <i class="fa-solid fa-xmark text-xl text-[#efefef]"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="px-4">
                        <div class="px-2 py-6 border-b border-b-[#e0e0e0] mb-4">
                            <div class="flex items-center">
                                <div>
                                    <img src="/images/nojs-system.jpg" class="w-24 min-w-24 max-w-24 h-16 min-h-16 max-h-16 object-fill rounded-lg" alt="Blog Card Image">
                                </div>
                                <div class="truncate2 max-h-[3.25rem] ml-4 leading-6">
                                    <p class="max-h-[3.25rem] font-custom-medium text-[#422d48]">Node.js Çalışma Zamanı (Runtime) Teknik İncelenmesi Tek Bakışta</p>
                                </div>
                            </div>
                        </div>
                        <div class="px-4 my-8">
                            <div class="flex justify-around items-center">
                                <div>
                                    <button id="shareOnXBtn" type="button" class="flex items-center justify-center px-1 py-1 bg-[#e0e0e0] hover:bg-[#c4c6c8] transition-all duration-200 rounded-full w-[40px] min-w-[40px] max-w-[40px] h-[40px] min-h-[40px]max-h-[40px]">
                                        <i class="fa-brands fa-x-twitter text-[#422d48] text-2xl"></i>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="flex items-center justify-center px-1 py-1 bg-[#e0e0e0] hover:bg-[#c4c6c8] transition-all duration-200 rounded-full w-[40px] min-w-[40px] max-w-[40px] h-[40px] min-h-[40px]max-h-[40px]">
                                        <i class="fa-brands fa-meta text-[#422d48] text-2xl"></i>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="flex items-center justify-center px-1 py-1 bg-[#e0e0e0] hover:bg-[#c4c6c8] transition-all duration-200 rounded-full w-[40px] min-w-[40px] max-w-[40px] h-[40px] min-h-[40px]max-h-[40px]">
                                        <i class="fa-brands fa-linkedin-in text-[#422d48] text-2xl"></i>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="flex items-center justify-center px-1 py-1 bg-[#e0e0e0] hover:bg-[#c4c6c8] transition-all duration-200 rounded-full w-[40px] min-w-[40px] max-w-[40px] h-[40px] min-h-[40px]max-h-[40px]">
                                        <i class="fa-brands fa-telegram text-[#422d48] text-2xl"></i>
                                    </button>
                                </div>
                                <div>
                                    <button type="button" class="flex items-center justify-center px-1 py-1 bg-[#e0e0e0] hover:bg-[#c4c6c8] transition-all duration-200 rounded-full w-[40px] min-w-[40px] max-w-[40px] h-[40px] min-h-[40px]max-h-[40px]">
                                        <i class="fa-brands fa-whatsapp text-[#422d48] text-2xl"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pb-10 px-2">
                            <div class="mb-6">
                                <span class="text-sm text-[#422d48] font-semibold">veya linki kopyala</span>
                            </div>
                            <div>
                                <div class="relative rounded-lg overflow-hidden">
                                    <input type="text" id="zattirizortInputu" value="https://blog.esesoftware.com/mehmet-gungor/what-is-node-js-runtime?" class="w-full outline-none border border-[#e0e0e0] focus:border-[#422d48] bg-[#efefef] pl-3 pr-20 py-3 rounded-lg overflow-hidden leading-5">
                                    <button type="button" class="absolute h-full right-0 top-0 bg-[#5d28ba] hover:bg-[#4911a8] group transition-all duration-200">
                                        <span class="px-2 text-sm font-semibold text-[#efefef] group-hover:text-[#fff] transition-all duration-200">Kopyala</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>     
    </main>
    <div
        class="leftAsideSticky fixed top-16 z-20 left-0 w-full px-4 hidden lg:flex  flex-col justify-center items-center">
        <div class="flex flex-col justify-start h-full max-w-60">
            <div class="w-full flex items-center justify-start pl-4 py-3">
                <div>
                    <span class="hidden xxxs:inline-block  h-8 w-44 pt-[5px]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline py-1" viewBox="0 0 204.61 17.18">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #efefef;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="BACKGROUND">
                                    <path class="cls-1"
                                        d="M11,8.79v2.62A1.11,1.11,0,0,1,9.87,12.5H2.2v.63a1.19,1.19,0,0,0,.48.95l.63.52a1.62,1.62,0,0,0,1,.41H9.87A1.08,1.08,0,0,1,11,16.09a1,1,0,0,1-.33.76,1,1,0,0,1-.76.33H4.15A3.37,3.37,0,0,1,3,16.94a3.32,3.32,0,0,1-.92-.5l-1-.85a2.89,2.89,0,0,1-.76-1A2.86,2.86,0,0,1,0,13.39v-5A3.05,3.05,0,0,1,.33,7.26a3.07,3.07,0,0,1,.83-1.12l.91-.71a3.06,3.06,0,0,1,2-.72H7.1a3.13,3.13,0,0,1,2.17,1l.81.78A3,3,0,0,1,11,8.79ZM2.22,8.62V10.3H8.81V8.79a1.14,1.14,0,0,0-.37-.93L7.81,7.3a1.51,1.51,0,0,0-.88-.4H4.2a1.41,1.41,0,0,0-.92.35l-.63.53A1,1,0,0,0,2.22,8.62Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M20.64,4.71h5a3.26,3.26,0,0,1,2.06.69,1.86,1.86,0,0,1,.89,1.35,1,1,0,0,1-.33.76,1.06,1.06,0,0,1-.73.3,1.26,1.26,0,0,1-.94-.47,1.22,1.22,0,0,0-.89-.46H20.75q-.72,0-.72.6a.7.7,0,0,0,.48.64l5.78,2.57a3.32,3.32,0,0,1,1.44,1.25,3.41,3.41,0,0,1,.56,1.9,3.2,3.2,0,0,1-1,2.37,3.15,3.15,0,0,1-2.24,1h-4.4a3.59,3.59,0,0,1-2.11-.69c-.65-.45-1-.9-1-1.33a1.08,1.08,0,0,1,1.13-1.08,1.33,1.33,0,0,1,.89.46A1.86,1.86,0,0,0,21,15H25a1,1,0,0,0,.8-.37,1.28,1.28,0,0,0,.32-.85,1.1,1.1,0,0,0-.72-1.06l-5.83-2.62A2.83,2.83,0,0,1,18.29,9a2.59,2.59,0,0,1-.46-1.45,2.83,2.83,0,0,1,.81-2A2.65,2.65,0,0,1,20.64,4.71Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M46.11,8.79v2.62A1.11,1.11,0,0,1,45,12.5H37.35v.63a1.19,1.19,0,0,0,.48.95l.63.52a1.62,1.62,0,0,0,1,.41H45a1.08,1.08,0,0,1,1.08,1.08,1,1,0,0,1-.33.76,1,1,0,0,1-.75.33H39.3a3.37,3.37,0,0,1-1.2-.24,3.32,3.32,0,0,1-.92-.5l-1-.85a2.75,2.75,0,0,1-.75-1,2.74,2.74,0,0,1-.31-1.19v-5a3.05,3.05,0,0,1,.33-1.15,3.07,3.07,0,0,1,.83-1.12l.91-.71a3.06,3.06,0,0,1,2-.72h3a3.13,3.13,0,0,1,2.17,1l.81.78A3,3,0,0,1,46.11,8.79Zm-8.74-.17V10.3H44V8.79a1.15,1.15,0,0,0-.38-.93L43,7.3a1.51,1.51,0,0,0-.88-.4H39.35a1.43,1.43,0,0,0-.92.35l-.63.53A1,1,0,0,0,37.37,8.62Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M55.79,4.71h5a3.25,3.25,0,0,1,2,.69,1.83,1.83,0,0,1,.89,1.35,1,1,0,0,1-.33.76,1.06,1.06,0,0,1-.73.3,1.26,1.26,0,0,1-.94-.47,1.22,1.22,0,0,0-.89-.46H55.91c-.49,0-.73.2-.73.6a.69.69,0,0,0,.49.64l5.77,2.57a3.32,3.32,0,0,1,1.44,1.25,3.41,3.41,0,0,1,.56,1.9,3.2,3.2,0,0,1-1,2.37,3.14,3.14,0,0,1-2.24,1H55.82a3.6,3.6,0,0,1-2.12-.69c-.65-.45-1-.9-1-1.33a1.08,1.08,0,0,1,1.13-1.08,1.33,1.33,0,0,1,.89.46,1.86,1.86,0,0,0,1.36.47h4a1,1,0,0,0,.8-.37,1.28,1.28,0,0,0,.32-.85,1.1,1.1,0,0,0-.72-1.06l-5.83-2.62A2.83,2.83,0,0,1,53.44,9,2.65,2.65,0,0,1,53,7.57a2.82,2.82,0,0,1,.8-2A2.65,2.65,0,0,1,55.79,4.71Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M81.26,8.62v4.59a3.64,3.64,0,0,1-1.37,2.7,4.23,4.23,0,0,1-2.84,1.24H74.5a4.14,4.14,0,0,1-2.84-1.26,3.64,3.64,0,0,1-1.36-2.68V8.62a3.67,3.67,0,0,1,1.33-2.68A4.1,4.1,0,0,1,74.5,4.68h2.55a4.14,4.14,0,0,1,2.84,1.21A3.67,3.67,0,0,1,81.26,8.62Zm-8.76.09v4.4a1.14,1.14,0,0,0,.43.94l.81.7a1.15,1.15,0,0,0,.76.23H77a1.47,1.47,0,0,0,1-.4l.66-.58a1,1,0,0,0,.4-.87V8.74a1.14,1.14,0,0,0-.4-1l-.76-.61A1.4,1.4,0,0,0,77,6.85H74.77a1.66,1.66,0,0,0-1.13.35l-.74.63A1.1,1.1,0,0,0,72.5,8.71Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M92.85,6.88v9.21a1,1,0,0,1-.32.77,1.07,1.07,0,0,1-.76.32,1.09,1.09,0,0,1-.79-.32,1,1,0,0,1-.32-.77V6.88H89.54a1,1,0,0,1-.76-.33,1,1,0,0,1-.32-.76A1.15,1.15,0,0,1,88.75,5a1,1,0,0,1,.79-.32h1.14V3.86A3.64,3.64,0,0,1,91.83,1.1,4,4,0,0,1,94.68,0h2.54A1.06,1.06,0,0,1,98,.32a1.1,1.1,0,0,1,.32.79,1,1,0,0,1-.33.76,1,1,0,0,1-.76.33H94.68a1.84,1.84,0,0,0-1.29.46,1.55,1.55,0,0,0-.51,1.2v.85h2.17a1,1,0,0,1,.76.3,1.07,1.07,0,0,1,.33.78,1,1,0,0,1-.33.76,1,1,0,0,1-.76.33Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M113.1,17.18h-2.17a3.18,3.18,0,0,1-2.31-1,3.1,3.1,0,0,1-1-2.3v-7h-1.11a1.09,1.09,0,0,1-.77-.31,1.1,1.1,0,0,1,0-1.55,1,1,0,0,1,.77-.31h1.14V2A1.06,1.06,0,0,1,108.76,1a1,1,0,0,1,.76.32,1,1,0,0,1,.33.76V4.71h4.37A1,1,0,0,1,115,5a1.07,1.07,0,0,1,0,1.53,1.07,1.07,0,0,1-.76.32h-4.4v7a1,1,0,0,0,.33.76,1.07,1.07,0,0,0,.78.33h2.12a1.15,1.15,0,0,0,1.15-.94,1.12,1.12,0,0,1,1.1-.94,1,1,0,0,1,.78.32,1.06,1.06,0,0,1,.31.79,2.87,2.87,0,0,1-.93,2A3.1,3.1,0,0,1,113.1,17.18Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M129.61,9.52v2.57l1.44,2.51.76-2.48L132,5.79a1.11,1.11,0,0,1,.34-.76,1,1,0,0,1,.74-.32,1.09,1.09,0,0,1,.78.31,1,1,0,0,1,.31.77L134,12.55l-1.17,3.84a1,1,0,0,1-1,.79h-1.17a1.08,1.08,0,0,1-1-.6l-1.17-2-1.19,2a1.15,1.15,0,0,1-1,.63h-1.14a1.2,1.2,0,0,1-.68-.22.94.94,0,0,1-.38-.52l-1.13-4-.25-6.67a1,1,0,0,1,.32-.76,1.09,1.09,0,0,1,.79-.32,1,1,0,0,1,.73.3,1.08,1.08,0,0,1,.33.78l.25,6.36.71,2.43L127.41,12V9.52a1.06,1.06,0,0,1,.32-.77,1.09,1.09,0,0,1,.79-.31,1,1,0,0,1,.76.31A1,1,0,0,1,129.61,9.52Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M143.87,9.34h4.25a5.05,5.05,0,0,1,1,.16l0-1.54A1.08,1.08,0,0,0,148,6.88h-4.13a1.11,1.11,0,0,1-1.09-1.09,1.08,1.08,0,0,1,1.09-1.08H148a3.11,3.11,0,0,1,2.29.94,3.22,3.22,0,0,1,1,2.31l.28,8.13a1,1,0,0,1-.33.77,1.05,1.05,0,0,1-.76.32,1.1,1.1,0,0,1-.79-.32,1.06,1.06,0,0,1-.32-.77l-1.84,1.09h-3.67a3.28,3.28,0,0,1-3.29-3.29V12.63a3.29,3.29,0,0,1,3.29-3.29Zm5.42,4.23-.06-.92a1.1,1.1,0,0,0-.32-.77,1,1,0,0,0-.77-.31h-4.28a1,1,0,0,0-.77.31,1.06,1.06,0,0,0-.31.77v1.22A1.09,1.09,0,0,0,143.86,15h3.07Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M158.21,16.09V5.79a1.09,1.09,0,0,1,.31-.78,1,1,0,0,1,.77-.33,1.06,1.06,0,0,1,.77.32,1.1,1.1,0,0,1,.32.79V7.15l1.77-1.52a3.32,3.32,0,0,1,2.14-.92h1.59a3.12,3.12,0,0,1,2.3,1,3.14,3.14,0,0,1,1,2.3v.58a1.09,1.09,0,0,1-.32.79,1,1,0,0,1-.77.32,1.06,1.06,0,0,1-.77-.31,1,1,0,0,1-.31-.77V8a1.08,1.08,0,0,0-1.09-1.08h-1.41a1.67,1.67,0,0,0-1,.47L160.38,10v6.06a1,1,0,0,1-.33.77,1.08,1.08,0,0,1-1.84-.77Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M186.71,8.79v2.62a1,1,0,0,1-.32.76,1,1,0,0,1-.76.33H178v.63a1.19,1.19,0,0,0,.48.95l.63.52a1.66,1.66,0,0,0,1,.41h5.58a1,1,0,0,1,.76.31,1.07,1.07,0,0,1,0,1.53,1.06,1.06,0,0,1-.76.33H179.9a3.32,3.32,0,0,1-1.19-.24,3.25,3.25,0,0,1-.93-.5l-1-.85a2.75,2.75,0,0,1-.75-1,2.88,2.88,0,0,1-.31-1.19v-5a3.26,3.26,0,0,1,.33-1.15,3,3,0,0,1,.84-1.12l.9-.71a3.1,3.1,0,0,1,2-.72h3a3.11,3.11,0,0,1,2.17,1l.82.78A3,3,0,0,1,186.71,8.79ZM178,8.62V10.3h6.59V8.79a1.15,1.15,0,0,0-.38-.93l-.63-.56a1.51,1.51,0,0,0-.88-.4H180a1.39,1.39,0,0,0-.92.35l-.64.53A1,1,0,0,0,178,8.62Z">
                                    </path>
                                    <path class="cls-1"
                                        d="M204.61,9.89v.84a1.17,1.17,0,0,1-.63,1l-8.56,5a1.38,1.38,0,0,1-.71.23,1.09,1.09,0,0,1-1.07-1.1,1,1,0,0,1,.49-.9l8-4.74-8-4.7a1,1,0,0,1-.49-.94,1,1,0,0,1,.33-.79,1.09,1.09,0,0,1,.74-.31,1.41,1.41,0,0,1,.71.23L204,8.85A1.16,1.16,0,0,1,204.61,9.89Z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                    </span>
                </div>
            </div>
            <div>
                <!-- <<<<<<<<< D3--B-- >>>>>>>>>> -->
                <ul class="">
                    <li class="mb-3">
                        <h3 class="text-[#001527] font-custom-medium">Sayfa İçeriği</h3>
                    </li>
                    <li class="scrollspyNavA mb-2">
                        <a role="button" class="flex items-center mb-2">
                            <span class="scrollspyIconSpan flex items-center relative pointer-events-none"></span>
                            <span class="text-[#4f4f4f] scrollspyNavACHeader font-custom-medium pointer-events-none">
                                <% if(blog.blogHeaders.giris.girisTitle !== "") { %>
                                    <%= blog.blogHeaders.giris.girisTitle %>
                                <% } else { %>
                                    <%= blog.blogHeaders.giris.subTitles[0].sHeader %>
                                <% } %>
                            </span>
                        </a>
                        <div class="scrollspyNavAC overflow-hidden">
                            <ul>
                                <% blog.blogHeaders.giris.subTitles.forEach(subTitle => { %>
                                <li class="ml-2 mb-2">
                                    <a id="<%= subTitle.id %>" href="<%= subTitle.href %>"
                                        class="scrollspyNavACaElem flex items-center">
                                        <span class="scrollspyIconSpan2 flex items-center"></span>
                                        <span>
                                            <h4
                                                class="text-sm text-[#4f4f4f] font-custom-medium transition-all duration-300"><%= subTitle.sHeader %></h4>
                                        </span>
                                    </a>
                                </li>
                                <% }) %>
                            </ul>
                        </div>
                    </li>
                    <li class="scrollspyNavA">
                        <a role="button" class="flex items-center mb-2">
                            <span class="scrollspyIconSpan flex items-center relative pointer-events-none"></span>
                            <span class="text-[#4f4f4f] scrollspyNavACHeader font-custom-medium pointer-events-none">
                                <% if(blog.blogHeaders.gelisme.girisTitle !== "") { %>
                                    <%= blog.blogHeaders.gelisme.girisTitle %>
                                <% } else { %>
                                    <%= blog.blogHeaders.gelisme.subTitles[0].sHeader %>
                                <% } %>
                            </span>
                        </a>
                        <div class="scrollspyNavAC overflow-hidden">
                            <ul>

                                <% blog.blogHeaders.gelisme.subTitles.forEach(subTitle => { %>
                                <li class="ml-2 mb-2">
                                    <a id="<%= subTitle.id %>" href="<%= subTitle.href %>"
                                        class="scrollspyNavACaElem flex items-center">
                                        <span class="scrollspyIconSpan2 flex items-center"></span>
                                        <span>
                                            <h4
                                                class="text-sm text-[#4f4f4f] font-custom-medium transition-all duration-300"><%= subTitle.sHeader %></h4>
                                        </span>
                                    </a>
                                </li>
                                <% }) %>

                            </ul>
                        </div>
                    </li>
                    <li class="scrollspyNavA">
                        <a role="button" class="flex items-center mb-2">
                            <span class="scrollspyIconSpan flex items-center relative pointer-events-none"></span>
                            <span class="text-[#4f4f4f] scrollspyNavACHeader font-custom-medium pointer-events-none">
                                <% if(blog.blogHeaders.sonuc.girisTitle !== "") { %>
                                    <%= blog.blogHeaders.sonuc.girisTitle %>
                                <% } else { %>
                                    <%= blog.blogHeaders.sonuc.subTitles[0].sHeader %>
                                <% } %>
                            </span>
                        </a>
                        <div class="scrollspyNavAC overflow-hidden">
                            <ul>

                                <% blog.blogHeaders.sonuc.subTitles.forEach(subTitle => { %>
                                <li class="ml-2 mb-2">
                                    <a id="<%= subTitle.id %>" href="<%= subTitle.href %>"
                                        class="scrollspyNavACaElem flex items-center">
                                        <span class="scrollspyIconSpan2 flex items-center"></span>
                                        <span>
                                            <h4
                                                class="text-sm text-[#4f4f4f] font-custom-medium transition-all duration-300"><%= subTitle.sHeader %></h4>
                                        </span>
                                    </a>
                                </li>
                                <% }) %>

                            </ul>
                        </div>
                    </li>
                </ul>
                <!-- <<<<<<<<< D3--S-- >>>>>>>>>> -->
            </div>
        </div>
    </div>

    <%- include("../partials/blogsPageGeneralPartials/blogRightAsideMoreBlog") %>
    <%- include("../partials/blogsPageGeneralPartials/blogsOtherModals") %>
    <%- include("../partials/blogsPageGeneralPartials/blogPagesScripts") %>
</body>

</html>