<%- include("../partials/header") %>
<body class="relative">
    <%- include("../partials/blogsPageGeneralPartials/blogCustomTopNavBar") %>
        <%- include("../partials/servicesPageGeneralPartials/beetwenNavbarTopD1B") %>
                    <!-- Breadcrumb -->
                    <!-- <<<<<<<<< D1--B-- >>>>>>>>>> -->
                    <%- include("../partials/servicesPageGeneralPartials/pageVariableBreadcrumb") %>
                    <!-- <<<<<<<<< D1--S-- >>>>>>>>>> -->
                    <%- include("../partials/servicesPageGeneralPartials/beetwenD1SD2B") %>
                        <!-- <<<<<<<<< D2--B-- >>>>>>>>>> -->
                        <div class="myVariableAre text-[#422d48]">

                            <%- include("../partials/blogsPageGeneralPartials/blogAuthor") %>

                            <%- include("../partials/blogsPageGeneralPartials/blogCommentsAndCTime") %>
      

                            <!-- observers -->
                            <!-- section 1 -->
                            <% blog.blogContents.girisContents.forEach(observer => { %>
                            <div id="<%= observer.id %>" class="my-6 entryfoheader">

                                <% observer.ordinaryContents.forEach(ordinaryContent => { %>
                                <div class="my-4">
                                    <%- ordinaryContent.content %>
                                </div>
                                <% }) %>

                            </div> 
                            <% }) %>

                            <!-- section 2 -->
                            <section class="flex justify-center">
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                            </section>

                            <% blog.blogContents.gelismeContents.forEach(observer => { %>
                            <div id="<%= observer.id %>" class="my-6 entryfoheader">

                                <% observer.ordinaryContents.forEach(ordinaryContent => { %>
                                <div class="my-4">
                                    <%- ordinaryContent.content %>
                                </div>
                                <% }) %>
 
                            </div> 
                            <% }) %>

                            <!-- section 3 -->
                            <section class="flex justify-center">
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                            </section>

                            <% blog.blogContents.sonucContents.forEach(observer => { %>
                            <div id="<%= observer.id %>" class="my-6 entryfoheader">

                                <% observer.ordinaryContents.forEach(ordinaryContent => { %>
                                <div class="my-4">
                                    <%- ordinaryContent.content %>
                                </div>
                                <% }) %>

                            </div> 
                            <% }) %>

                            <section class="flex justify-center">
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                                <div>
                                    <span class="inline-block w-5 h-5 text-2xl">*</span>
                                </div>
                            </section>

                            <%- include("../partials/blogsPageGeneralPartials/blogsCommentsArea") %>
                            

                            <%- include("../partials/blogsPageGeneralPartials/variableAreaBrandLogo") %>
                            
                        </div>
                        <!-- <<<<<<<<< D2--S-- >>>>>>>>>> -->
                    </div>
                </div>
            </div>
            <div class="areaZ w-[22.5%] hidden lg:block border-l-2 bg-[#efefef] border-r-[#8080802e]"></div>
        </div>
        <div id="mainSecondElem" class="fixed bottom-0 w-full">
            <%- include("../partials/blogsPageGeneralPartials/blogsCustomFooter") %>
        </div>
        <%- include("../partials/blogsPageGeneralPartials/blogShareViaModal") %>    
    </main>
    <%- include("../partials/blogsPageGeneralPartials/blogPageLeftAsideSticky") %>   
    <script>
        const shareOnAppBtns = document.querySelectorAll("[data-type-app]");

        const url = encodeURIComponent('<%= blog.blogShareLink %>');
        const text = encodeURIComponent('Check out this blog post on Node.js Runtime!');
        const twitterUrl = `https://twitter.com/share?url=${url}&text=${text}`;
        const telegramUrl = `https://t.me/share/url?url=${url}&text=${text}`;
        const linkedinUrl = `https://www.linkedin.com/shareArticle?mini=true&url=${url}&summary=${text}`;
        const whatsappUrl = `https://api.whatsapp.com/send?text=${text}%20${url}`;
        const facebookUrl = `https://www.facebook.com/sharer/sharer.php?u=${url}`;

        function getShareUrl(dataType) {
            switch (dataType) {
                case 'x':
                    return twitterUrl;
                case 'telegram':
                    return telegramUrl;
                case 'linkedin':
                    return linkedinUrl;
                case 'whatsapp':
                    return whatsappUrl;
                case 'meta':
                    return facebookUrl;
                default:
                    return '';
            }
        }

        shareOnAppBtns.forEach(btn => {
            btn.addEventListener("click", (e) => {

                const dataType = btn.getAttribute("data-type-app");
                const shareUrl = getShareUrl(dataType);
                
                if(shareUrl) {
                    window.open(shareUrl, "_blank");
                }
            });
        });

    </script>
    <%- include("../partials/blogsPageGeneralPartials/blogRightAsideMoreBlog") %>
    <%- include("../partials/blogsPageGeneralPartials/blogsOtherModals") %>
    <%- include("../partials/blogsPageGeneralPartials/blogPagesScripts") %>
</body>

</html>





















