<div class="rightAsideSticky fixed top-16 z-20 right-0 w-full px-4 hidden lg:flex  flex-col  bg-[#efefef]">
    <div class="flex flex-col justify-start items-center h-full">
        <div>

        </div>
        <div class="flex flex-col gap-8 pt-6 items-center justify-center">

            <% mgFirstTwoBlogs.forEach(blog => { %>

            <div class="w-5/6 max-w-72 min-w-48 h-36 blogShd blogUnit rounded-[4px] overflow-hidden" data-blogid="<%= blog.blogID %>">
                <a href="#" class="blogCardLink">
                    <div class="relative h-full">
                        <div class="w-full h-full">
                            <img src="<%= blog.blogMainImage %>" alt="Blog Image" class="w-full object-fill h-full">
                        </div>
                        <div class="absolute top-0 bottom-0 left-0 right-0 bg-[#2413133d]">
                        </div>
                        <div
                            class="flex absolute bottom-[-73px] blogLayer pointer-events-none flex-col py-2 bg-[#000000d6]">
                            <div
                                class="max-h-14 text-center text-sm mb-1 pointer-events-none text-white indent-3 px-1 leading-4 truncate2">
                                <%= blog.blogTitle %>
                            </div>
                            <div
                                class="max-h-9 text-xs pointer-events-none font-custom-medium text-zinc-400 px-1 indent-1 pb-1 truncate2">
                                <p>
                                    <%= blog.blogCardSummaryContent %>
                                </p>
                            </div>
                            <div
                                class="flex secretArea pointer-events-none justify-between px-4 my-1 opacity-0 transition-all duration-300 bg-[#112f4a] pb-[3px]">
                                <div>
                                    <span class="text-xs text-[#efefef]"><%= blog.blogCTime %></span>
                                </div>
                                <div>
                                    <% 
                                        const [firstName, lastName] = blog.blogAuthor.split(' ');
                                        const formattedName = `${firstName} ${lastName.charAt(0)}.`;
                                    %>
                                    <span class="text-xs text-[#efefef] font-custom-medium">// <%= formattedName %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <% }) %>

        </div>
        <div class="mt-4">
            <a href="#" target="_blank"
                class="flex items-center border-2 hover:border-[#636871] justify-around max-w-52 min-w-48 py-1 bg-[#7d84ab91] rounded-md">
                <span class="pl-2">
                    <svg width="3" height="24" viewBox="0 -9 3 24" class="mr-2 text-slate-200 overflow-visible">
                        <path d="M0 0L3 3L0 6" fill="none" stroke="currentColor" stroke-width="1.5"
                            stroke-linecap="round"></path>
                    </svg>
                </span>
                <span class="text-[#2a2a2a] text-sm pr-1 -ml-3">Daha Fazla Blog / Makale</span>
            </a>
        </div>
    </div>
</div>